# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# IDEs and editors
.idea/
.vscode/
*.swp

# Testing
.pytest_cache/
.coverage
htmlcov/